
@import "tailwindcss";

.input {
  @apply w-full px-3 py-2 text-sm rounded-lg border
         bg-white text-gray-900 border-gray-300
         focus:outline-none focus:ring-2 focus:ring-blue-500
         hover:border-blue-400
         dark:bg-slate-900 dark:text-gray-100 dark:border-white/10
         dark:hover:border-blue-500;
}

.input-field {
  @apply w-full border p-2 rounded focus:outline-none focus:ring;
}

